SERVICE_NAME="container-service"

TERMINAL_SERVICE_BASE_URL="http://localhost:3434"

NODE_ENV=development

PORT=3333

POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<database_test>
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL="postgresql://<user>:<password>@localhost:5432/<database_test>"


REDIS_HOST=redis
REDIS_PORT=6379

LOKI_URL="http://loki:3100"

OTEL_EXPORTER_OTLP_ENDPOINT="http://jaeger:4318/v1/traces"

KAFKA_BROKER="kafka:29092"
