SERVICE_NAME=terminal-service
NODE_ENV=development
PORT=3434
REDIS_HOST=localhost
REDIS_PORT=6379
LOKI_URL=http://localhost:3100
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318/v1/traces
KAFKA_BROKER=localhost:29092
MONGODB_URI=mongodb://terminal_service:terminal_service@localhost:27017/terminal_service
